<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--檔案路徑-->
    <add key="FileInPut" value="D:\BankPro\Carrefour\Input"/>
    <!--產檔路徑-->
    <add key="FileLocation" value="D:\BankPro\Carrefour\Out"/>
    <!--Log路徑-->
    <add key="LogLocation" value="D:\BankPro\Carrefour\Log"/>
    <!--輸入參數-->
    <add key="BARCODE"          value="BARCODE"/>
    <add key="BIGSALES"         value="BIGSALES"/>
    <add key="DAILYSALES"       value="DAILYSALES"/>
    <add key="DAILYSTOCK"       value="DAILYSTOCK"/>
    <add key="ITMGEL"           value="ITMGEL"/>
    <add key="ITMSUB"           value="ITMSUB"/>
    <add key="ITMSUPGEXCRTNC"   value="ITMSUPGEXCRTNC"/>
    <add key="STM"              value="STM"/>
    <add key="SUPATT"           value="SUPATT"/>
    <add key="DSL"              value="DSL"/>
    <add key="EMP"              value="EMP_DATA"/>
  </appSettings>
  <connectionStrings>
    <add name="Sasc4ConnectionString" connectionString="Data Source=John-pc;Initial Catalog=SASC4;Persist Security Info=True;User ID=sasc4;Password=sasc4" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>